<div x-data="formHandler" class="px-4 py-4">
  <a
    href="<%= request.path_info.split("/")[...-1].join("/") %>"
    class="flex items-center gap-3 px-2 py-1 border border-gray-200 rounded cursor-pointer w-min hover:bg-gray-50"
  >
    <i class="icon text-[18px]!">arrow_back</i>
    <span>Back</span>
  </a>

  <form
    id="create-form"
    action="/admin/collections/<%= @collection.slug %>"
    enctype="multipart/form-data"
    method="POST"
    class="flex flex-col gap-8 mt-8"
  >
    <field-render
      initial-data-name="initialData"
      field-types-name="fieldTypes"
      mode="create"
    ></field-render>

    <button
      type="submit"
      class="px-4 py-2 text-white border border-orange-700 rounded-lg cursor-pointer from-orange-400 to-orange-600 bg-gradient-to-b"
    >Create</button>
  </form>
</div>

<script>
  var initialData = {};
  var fieldTypes = <%= get_field_types(@collection.fields).to_json %>
</script>

<script src="/admin/lit/fields.js" defer></script>