<div class="flex flex-col gap-2">
  <label :for="field.name" x-text="field.name">
    password
    <span class="text-red-600" x-show="field.required && mode != 'edit'">*</span>
  </label>
  <input
    :type="showPassword ? 'text' : 'password'"
    :name="field.name"
    :id="field.name"
    class="px-2 py-1 border border-gray-400 rounded"
    :required="field.required && mode != 'edit'"
    :placeholder="mode == 'edit' ? 'Update password' : ''"
  >
  </div>
